venv/ 
.ds_store
__pycache__/

.vscode/
data/

# jypyter notebook
.ipynb_checkpoints
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
*.dylib
*.dSYM/
*.egg-info/
dist/   

checkpoints/
cache/
# exclude cache/empty file
!cache/empty.txt

# PyFR mesh and solution files
*.pyfrs
*.pyfrm

# VTU files
*.vtu

# CSV files
*.csv

# Mac OS X junk
.DS_Store

# Backup files
*~

# Hidden files
.*

*.mp4


# latex auxiliary files
*.aux
*.bbl
*.blg
*.idx
*.ind
*.lof
*.lot
